@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(178,208,216);
  font-family: "Eagle Lake", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dock-item:hover {
  transform: scale(1.2);
  box-shadow: 0px 20px 20px rgba(0,0,0,1);
  z-index: 1;
}

p strong {
  color: "green";
  font-weight: "bold";
}